body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

#date-time {
    text-align: center;
    margin-bottom: 20px;
}

#current-date, #current-time {
    font-size: 18px;
    color: #555;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container input, .input-container button {
    margin-bottom: 10px;
}

#task-input, #date-input, #time-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

#add-task-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #9a3a3a;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
}

.task-item button {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545;
}

.task-details {
    display: flex;
    flex-direction: column;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .navbar .container {
        flex-direction: column;
    }
    
    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .input-container {
        flex-direction: column;
    }

    #add-task-btn {
        width: 100%;
        margin-left: 0;
    }
}
